* {
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  height: auto;
}

.sidebar {
  width: 300px;
  background-color: #e0e0e0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.btn {
  padding: 15px 20px;
  background-color: #ccc;
  border: none;
  cursor: pointer;
  width: 100%;
}

.btn.add {
  margin-top: auto;
}

.CardForm {
  background-color: #ccc;
  padding: 15px;
  width: 100%;
}

.CardForm input,
.CardForm select {
  width: 100%;
  margin-bottom: 8px;
}

.card-container {
  flex: 1;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  font-weight: bold;
}